@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body{
    display: flex;
    justify-content: center;
    background-color: #8ECAE6;
    font-family: 'Bungee';
}

.container{
    
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#announcer{
    font-size: 50px;
}
#restart{
    border-radius: 20px;
    font-family: 'Bungee';
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33,158,188,0.6);
}

#restart:active{
    background-color: rgba(33,158,188,0.4);
}
.gameContainer{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 40vw;
    height: 70vh;
}

.box{
    background-color: white;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 75px;
}